@model IEnumerable<projetoImpacta_ControleNotas.Models.AlunoModel>

@{
    ViewData["Title"] = "Alunos e Notas";
}

<h1>@ViewData["Title"]</h1>

@if (User.Identity.IsAuthenticated)
{
    <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4">
        <a asp-controller="Alunos" asp-action="Create" class="btn btn-primary" role="button">Adicionar novo aluno</a>
    </div>
}

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaFinal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaFinal)
            </td>

            @if (item.Situacao == "Reprovado")
            {
                <td class="text-danger fw-bold">
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
            } 
            else if (item.Situacao == "Aprovado") 
            {
                <td class="text-success fw-bold">
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
            } 
            else
            {
                <td class="fw-bold">
                    @Html.DisplayFor(modelItem => item.Situacao)
                </td>
            }
            
        @if (User.Identity.IsAuthenticated)
        {
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-primary">Editar</a>
                <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-secondary">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Apagar</a>
            </td>
        }          
        </tr>
    }
    </tbody>
</table>
